html { 
    background-color: #f6f6f7;
    font-family: Arial;
}

#loading {
    text-align: center;
    font-size: 25px;;
    color: black;
}

#title {
    color: gray;
    margin: 10px;
    text-align: center;
}

.movie {
    color: gray;
    margin: 10px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.movie-image {
    flex: 3;
}

.movie-content {
    flex: 7;
    padding: 0 1.5em;
}

.movie-overview {
    color: black;
}

.trailer-button {
    background-color: #f2f2f2;
    font-size: 1.1em;
    padding: 1em;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .movie-image, .movie-content, .movie {
        display: block;
    }
}